/*======== Use a more-intuitive box-sizing model & Remove default margin,padding ========*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*======== Add accessible line-height & Improve text rendering ========*/
html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

/*======== Improve media defaults ========*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*======== Remove built-in form typography styles ========*/
input,
button,
textarea,
select,
a {
  font: inherit;
  color: inherit;
}

/* ========== Reset a & span  & ul & li ========== */
a {
  display: inline-block;
  text-decoration: none;
}

span{
  display: inline-block;
}

ul,
ol {
  list-style: none;
}

/*======== Avoid text overflows ========*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* ==========< Flex & Grid Utilities >========== */
.grid {
  display: grid;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.place-center {
  justify-content: center;
  align-items: center;
}

section{
  height: 80vh;
}


